/* 
- Mobile: 375px
- Desktop: 1440px

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600
*/

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Grey-500: hsl(234, 12%, 34%);
  --Grey-400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--White);
  margin: 0 auto;
  text-align: center;
  color: var(--Grey-500);
}

h1 span {
  font-weight: 200;
}