:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Grey-500: hsl(234, 12%, 34%);
  --Grey-400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--White);
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  color: var(--Grey-500);
}

.intro {
  margin: 100px auto 75px;
  max-width: 550px;
  width: 100%;
}

h1 {
  font-size: clamp(1.5rem, 1.8vw, 2.7rem);
  font-weight: 600;
  line-height: 1.3;
  margin: 1rem;
}

h1 span {
  font-weight: 200;
}

.intro p {
  font-size: 0.95rem;
}

.card-section {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  gap: 28px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.card {
  background-color: var(--White);
  max-width: 350px;
  width: 100%;
  height: 250px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 18px 30px;
  box-shadow: 0px 7px 15px -5px hsla(209, 39%, 49%, 0.5);
}

.card h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}

.card p {
  font-size: 0.85rem;
  font-weight: 400;
  margin: 0 0 2rem;
}

.card img {
  width: 64px;
  align-self: flex-end;
  justify-self: flex-end;
}

.card::before {
  content: "";
  width: 100%;
  height: 2%;
  position: absolute;
  top: 0;
  left: 0;
}

.card.cyan {
  grid-column: 1;
  grid-row: 2 / 4;
  justify-self: right;
}

.card.red {
  grid-column: 2;
  grid-row: 1 / 3;
}

.card.orange {
  grid-column: 2;
  grid-row: 3 / 5;
}

.card.blue {
  grid-column: 3;
  grid-row: 2 / 4;
  justify-self: left;
}

.card.cyan::before {
  background-color: var(--Cyan);
}

.card.red::before {
  background-color: var(--Red);
}

.card.orange::before {
  background-color: var(--Orange);
}

.card.blue::before {
  background-color: var(--Blue);
}

@media only screen and (max-width: 1000px) {
  .intro {
    margin: 60px auto;
    max-width: 550px;
    width: 100%;
  }

  h1 {
    margin: 0;
  }

  .card-section {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
